<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemas.pagocontado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConsutlasActivity"></activity>
        <activity android:name=".bandejaProductosActivity" />
        <activity android:name=".DetalleProductoActivity" />
        <activity android:name=".BuscarProductoActivity" />
        <activity android:name=".ListadoFormaPagoActivity" />
        <activity android:name=".MostrarClienteActivity" />
        <activity android:name=".ListadoAlmacenActivity" />
        <activity android:name=".ConsultasListadoActivity" />
        <activity android:name=".DetallePedidoActivity" />
        <activity android:name=".BusquedaClienteActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>